# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules

# production
/build

# misc
/project_images
local-dev-notes.md

# env variables
/server/.env

