html,
body {
  height: 100%;
}

div#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

h2 {
  margin: 1rem 0;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.show-consent-banner {
  animation: show-banner 1s ease forwards;
}

.hide-consent-banner {
  animation: hide-banner 1s ease forwards;
}

@keyframes show-banner {
  from {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes hide-banner {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -100%;
    opacity: 0;
    display: none;
  }
}

@media (min-width: 768px) {
  .container-sm {
    max-width: 680px;
  }
}
