body {
  margin: 0;
}

h2 {
  margin: 1rem 0;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-underline:hover {
  text-decoration: underline;
}

.container-height {
  min-height: 80vh;
}

@media (min-width: 992px) {
  .container-sm {
    max-width: 720px;
  }
}
